.Battle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0px;
  bottom: 0;
  background-image: url(/images/maps/StreetBattle.png);
  background-size: cover;
  image-rendering: pixelated;
}

.Battle__hero,
.Battle__enemy {
  position: absolute;
  transform: scale(2);
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url(/images/characters/shadow.png) no-repeat no-repeat;
}

.Battle__hero img,
.Battle__enemy img {
  pointer-events: none;
}

.Battle__hero {
  bottom: 57px;
  left: 1px;
}

.Battle__hero img {
  transform: translateY(-64px);
}

.Battle__enemy {
  top: 42px;
  right: -1px;
}

/* Animations */
.battle-damage-blink {
  animation: battle-damage-blink 0.3s steps(2, start) infinite;
}

.battle-spin-left {
  animation: battle-spin-left 0.8s;
}

.battle-spin-right {
  animation: battle-spin-right 0.8s;
}

@keyframes battle-damage-blink {
  to {
    visibility: hidden;
  }
}

@keyframes battle-spin-right {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }

  25% {
    transform: translate3d(200%, -25%, 0) rotate(45deg) scale(2);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(2);
  }
}

@keyframes battle-spin-left {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }

  25% {
    transform: translate3d(-100%, 25%, 0) rotate(45deg) scale(2);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(2);
  }
}
